* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------------------------------------------- */

.main-header {
  padding: 1.5rem 14rem 0rem;
  display: flex;
  flex-flow: row wrap;
  background-color: #1f2937;
  justify-content: space-between;
  align-items: center;
}

.main-header .main-header__navegation-links {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.main-header .main-header__navegation-links li {
  margin-left: 2rem;
}

.main-header .main-header__navegation-links li a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.main-header .main-header__logo {
  font-size: 24px;
  color: #f9faf8;
}

/* ------------------------------------------------------------------------------------------- */

.main-section {
  padding: 4rem 14rem;
  display: flex;
  background-color: #1f2937;
  align-items: center;
}

.main-section .main-section__content {
  padding-right: 4rem;
  flex: 1;
}

.main-section .main-section__content {
  display: flex;
  flex-flow: column;
}

.main-section .main-section__content > * {
  flex: 1 1 auto;
  margin-bottom: 0.5rem;
}

.main-section .main-section__content h2 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.main-section .main-section__content p {
  font-size: 18px;
  color: #e5e7eb;
}

.main-section .main-section__content a {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #f9f9f9;
  background-color: #3882f6;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.main-section .main-section__image {
  width: 600px;
  height: auto;
  border-radius: 1rem;
}

/* ------------------------------------------------------------------------------------------- */

.random-information-section {
  padding: 4rem 14rem;
  display: flex;
  flex-flow: column wrap;
}

.random-information-section__title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

.random-information-section__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.random-information-section__content > article {
  text-align: center;
  flex-basis: 0;
  margin: 2rem;
}

.random-information-section__content > article > p {
  margin-top: 0.2rem;
}

.random-information-section__content > article > img {
  width: 200px;
  height: 200px;
  border-radius: 1rem;
}

.random-information-section__content > article > p {
  color: #1f2937;
}

/* ------------------------------------------------------------------------------------------- */

.quote-section {
  padding: 8rem 0rem 6rem;
  display: flex;
  flex-flow: row wrap;
  background-color: #e5e7eb;
  align-items: center;
  justify-content: center;
}

.quote-section__quote-content {
  display: flex;
  flex-flow: column wrap;
  flex: 0 1 auto;
  min-width: 400px;
  max-width: 900px;
}

.quote-section__quote-content > p {
  font-size: 36px;
  color: #1f2937;
  font-weight: lighter;
  font-style: italic;
}

.quote-section__quote-content > b {
  margin-top: 1rem;
  padding-right: 2rem;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
}

/* ------------------------------------------------------------------------------------------- */

.sign-up-section {
  padding: 8rem 0rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.sign-up-section__main {
  padding: 3rem 8rem;
  display: flex;
  flex-flow: row wrap;
  background-color: #3882f6;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 auto;
  min-width: 1000px;
  border-radius: 0.5rem;
}

.sign-up-section__main-content > h2 {
  color: #f9faf8;
}

.sign-up-section__main-content > p {
  color: #e5e7eb;
}

.sign-up-section__main-button > a {
  display: inline-block;
  color: #f9faf8;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #f9faf8;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

/* ------------------------------------------------------------------------------------------- */

.main-footer {
  padding: 2.5rem 0rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}

.main-footer__copyright > p {
  color: #f9faf8;
}
